<div class="stage">

	<div class="stage_inner">

	@for (int i = 0; i < 100; i++)
	{
		int squareNumber = i;
		<Cell @key=squareNumber
			value=stageReference.visibleCharacters[i]/>
	}

	</div>
</div>

@code {
	[Parameter]
	public ZadanieRekrutacyjne.Classes.Stage stageReference {get; set;}
}

<style scoped>
    .stage_inner {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        background-color: #0a8efa;
        padding: 10px;
        width: 220px;
        height: 220px;
    }
	.stage {
		display: inline-block;
	}
</style>