@page "/"
@using ZadanieRekrutacyjne.Components
@inherits ZadanieRekrutacyjne.Pages.IndexClass

<p>O - missed shot, X - ship hit</p>
<p>turns: @turns</p>
<p>won player nr @wonPlayer</p>
Use probability density guessing <input type="checkbox" @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" /><br />

<Stage stageReference="stage1" />
<div style="
display: inline-block;
width: 200px;
"/>
<Stage stageReference="stage2" />
<br/>
<button @onclick="NextMoveBtn">Next move</button><button @onclick="PlayTillEnd">Play till finished</button>
