@page "/"
@using ZadanieRekrutacyjne.Components
@inherits ZadanieRekrutacyjne.Pages.IndexClass

<p style="
	
">O - missed shot		X - ship hit</p>
<div style="
	border: 3px solid rgba(0, 200, 0, 40);
	border-radius: 5px;
	width: 200px;
	padding-left: 5px;
">
turns: @turns<br />
won player nr @wonPlayer
</div>
Use probability density guessing <input type="checkbox" @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" /><br />

<Stage stageReference="stage1" />
<div style="
	display: inline-block;
	width: 200px;
"/>
<Stage stageReference="stage2" />
<br/>
<div style="
	margin-top: 30px;
	width: 700px;
">
	<div style="
		margin: 0 auto;
		width: 300px;
	">
		<button @onclick="NextMoveBtn">Next move</button>
		<button @onclick="PlayTillEnd">Play till finished</button>
		<button @onclick="RestartGame">Restart</button>
	</div>
</div>
